style.css 
*{
    color:hotpink;
}

h1{ 
    color: limegreen;
}

p{
    color: purple;
}

li{ 
    color: orangered;
}

h2{
    color: blue;
}

/* .mycolors{
    color: darkcyan;
} 
*/

.mycolors{
    color:crimson;
}

#outcomes {
    color: chocolate;
}

[data-heading="learning"] {
    color: black;
}

h3 > strong {
    color: blueviolet;
}

body {
    text-align: center;
    border: 2px solid orange
}