body,
ul {
  margin: 0;
  padding: 50px;
  font-family: "Open Sans", sans-serif;
}

/* Style the video element */
#custom-video-player {
  width: 100%; /* Set width to 100% of its container */
  height: auto; /* Maintain aspect ratio */
}

/*customising the header*/

header {
  background-color: #03365e;
  color: rgb(207, 172, 255);
  padding: 1em;
  text-align: center;
  position: relative;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/*styling individual link*/
header nav ul li {
  margin: 0 1em;
}

header nav ul li button {
  background-color: #444;
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-size: 1.2em;
  cursor: pointer;
}

header nav ul li button:hover {
  background-color: #555;
}

/* Style the footer - just a basic footer that gives the site some structure */
footer {
  background-color: rgb(207, 172, 255);
  color: white;
  padding: 1em;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 97.8%;
}

/* Styling the navigation menu in the footer to ensure that 
users are able to navigate the site easily - large buttons with clicking/popping noise*/
footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  margin: 0 1em;
}

footer nav ul li a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 1em;
}

/* I think that I removed this part because i did not need it, this was for the play, pause text */
footer nav ul li a:hover {
  text-decoration: underline;
}

/* My code here portrays a vibrant, yet simplistic design that aligns with the aesthetics of the music video.
This ensures that no attention is drawn away from the video, as it is the main aspect of my site. The colour theme
of blue and purple also further underscores this. By allocating the site with a similiar colour pallete to the
music video, a sense of cohesian and satisfaction is elicited. Although it is a simple page, I aim to have drawn the
audience in through the aesthetics, usability and simplicity of the website. */
